{{#extend "statics"}}
    <link rel="stylesheet" href="asset/interfaceList/css/main.css" />
{{/extend}}
<div id="main"></div>
<script type="application/json" id="initial-data">
    {
        "interfaceList": {{{initialData}}}
    }
</script>
<script src="asset/interfaceList/main.js"></script>
