{{#extend "statics"}}
    <link rel="stylesheet" href="/asset/interfaceList/css/main.css" />
{{/extend}}
<div id="main"></div>
<script type="application/text" id="initial-data">
{{{initialData}}}
</script>
<script src="/asset/interfaceList/main.js"></script>
