{{#extend "statics"}}
    <link rel="stylesheet" href="/asset/jsonResponseEdit/css/main.css" />
    <script src="/dep/ace-builds/src-min-noconflict/ace.js"></script>
{{/extend}}
<div id="main"></div>
<script type="application/text" id="initial-data">
    {{{initialData}}}
</script>
<script src="/asset/jsonResponseEdit/main.js"></script>
