extends layout

block statics
    include ./includes/commonDep
    link(rel='stylesheet', href='/stylesheets/jsonViewer/main.css')
    include ./includes/amdConifg
    script.
        require(['src/jsonViewer/main']);

block content
    -
        //- 如果不存在响应则填充上空内容，避免代码保存，数据来自模板渲染
        if (!response) {
            response = {};
            response.name = '';
        }

    div.container(ng-controller='main')
        div.ui.centered.grid
            div.row
                div.eight.wide.column
                    div.ui.fluid.input
                        input#response-name(type='text' placeholder='响应名称' value=response.name)
            div.row
                div.eight.wide.column
                    div#editor!=JSON.stringify(response.data, null, 4)
            div.row
                div.five.wide.column
                    button.fluid.ui.button.blue#save(ng-click='saveData()') 保存

        //- 操作行为提示模态窗口
        ng-include(src="'/angularTpls/operationResult.html'")
