{{#extend "statics"}}
    <link rel="stylesheet" href="/asset/responseList/css/main.css" />
{{/extend}}
<div id="main"></div>
<script type="application/text" id="initial-data">
    {{{initialData}}}
</script>
<script src="/asset/responseList/main.js"></script>
