{{#extend "statics"}}
    <link rel="stylesheet" href="asset/responseList/css/main.css" />
{{/extend}}
<div id="main"></div>
<script type="application/json" id="initial-data">
    {{{initialData}}}
</script>
<!--<script src="asset/responseList/main.js"></script>-->
