@import "./iconFont.less";

@contentWidth: 750px;
@contentHeight: 500px;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.button-container {
    padding-top: 10px;
}

#ace-editor {
    // flex: 0.3;
    width: @contentWidth;
    height: @contentHeight;
}

.tip-container {
    width: @contentWidth;
}

.param-container {
    border: 1px solid #e0e0e0;
    border-top: 0;
    padding: 0 8px;
}

.http-code-container {
    padding: 0 5px;
}

.delay-container {
    padding: 15px 5px 0 5px;
}
