<div class="ui small basic modal" id="{{opModalData.modalId}}">
    <div class="ui icon header">
        <div ng-if="opModalData.result === true">
            <i class="smile icon green">{{opModalData.successTitle}}</i>
        </div>
        <div ng-if="opModalData.result === false">
            <i class="frown icon red">{{opModalData.failTitle}}</i>
        </div>
    </div>
    <div class="content">
        <p>{{opModalData.detail}}</p>
    </div>
    <div class="actions">
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            确定
        </div>
    </div>
</div>
